output/
resources/docs/mermaid*.js
resources/docs/src/api-docs/dependency_graph.png
target/
*.5
.lycheecache
.idea/
__pycache__/
# In mixed Python/Rust projects, Maturin puts compiled Rust module directly in Python source during development.
python-alpm/python/alpm/_native.abi3.so
python-alpm/dist/
