David Schaefer <dawedawe@posteo.de> dawe <dawedawe@posteo.de>
Morgan Adamiec <morganamilo@archlinux.org> morganamilo <morganamilo@archlinux.org>
Orhun Parmaksız <orhun@archlinux.org> Orhun Parmaksız <orhunparmaksiz@gmail.com>
