[advisories]
ignore = [
    # The rsa crate is vulnerable to side-channel attacks.
    # However, we are neither using it for work with private keys, nor over the network.
    "RUSTSEC-2023-0071",
    # Possible valid string to invalid string bug.
    # This dependency is only included when winnow is compiled with the debug flag.
    "RUSTSEC-2024-0404",
]
version = 2
yanked = "deny"

[licenses]
allow = [
    "Apache-2.0 WITH LLVM-exception",
    "Apache-2.0",
    "BSD-3-Clause",
    "CDLA-Permissive-2.0",
    "ISC",
    "MIT",
    "MPL-2.0",
    "Unicode-3.0",
    "Zlib",
    "bzip2-1.0.6",
]
version = 2

[[licenses.clarify]]
expression = "MIT AND ISC AND OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]
name = "ring"
version = "*"

[bans]
multiple-versions = "allow"
