# By default, require approval from relevant developers.
* @@developer

# Don't require approval for project metadata and files required for creating releases.
!/Cargo.lock
!/Cargo.toml
!/*/Cargo.toml
!/*/CHANGELOG.md
