<link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path='icons/favicon-16x16.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path='icons/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="48x48" href="{{ get_url(path='icons/favicon-48x48.png') }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ get_url(path='icons/favicon-192x192.png') }}">
<link rel="apple-touch-icon" type="image/png" sizes="167x167" href="{{ get_url(path='icons/favicon-167x167.png') }}">
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ get_url(path='icons/favicon-180x180.png') }}">
<link rel="shortcut icon" href="{{ get_url(path='icons/favicon.ico') }}">

<!-- Custom CSS injects -->
<link rel="stylesheet" href="{{ get_url(path='lint-styles.css') }}">

<!-- Custom JavaScript injects -->
<script src="{{ get_url(path='js/lint-filter.js') }}" defer></script>
<script src="{{ get_url(path='js/lint-rules.js') }}" defer></script>
